body {
background-size: cover;
background-repeat: no-repeat;
margin: 0px;
font-family: verdana, georgia;
font-size: 14px;

}

#header {



margin: 10px;
height: 100px;

	background:transparent;
boarder: 2px solid;
boarder-radius: 20px;
backdrop-filter: blur(20px);
box-shadow: 0 0 30px rgba(0,0,0,.5);
}


#navbar  {


margin: 10px;
height: 50px;
boarder-radius: 10px;
}

#navbar ul li {
	display: inline;

}

#navbar ul li a {
	
	text-decoration: none;
	font-family: cooper;
	font-size: 130%;

	padding:  .2em 1em;
	
}
	
#navbar ul li a:hover {
	color: blue;
	background-color:  #950740;
}



#navbar ul {


margin: 10px;
height: 50px;
text-align: center;
boarder-radius: 5px;
padding: 5px;
list-style-type: none;
}



.main{
 

margin: 10px;
boarder-radius: 10px;
padding: 20px;
font-size: 110%
}





h1{
font-size: 300%;
color:blue;

}
  

h3{
font-size: 120%;
color:  #3500D3;
font-family: cooper  ;
}
  
h2{
font-size: 120%;
color:  #3500D3;
font-family:   cooper ;
}
  
  
  h5{
font-size: 120%;
color: #53CBFB ;
font-family:   grange ;
}
  

#footer  {
	

margin: 10px;
height: 100px;
	text-align: center;
boarder-radius: 5px;
padding: 5px;
font-size: 100%;
clear: both;
color: blue;
font-family: cooper;
}

#footer ul li {
	display: inline;
	background-color: #57ADBF;

	padding:  .3em 1e
}

#ooter ul li a {
	
	text-decoration: none;
	font-family: cooper;
	font-size: 130%;
	color: #950740   ;

	padding:  .3em 1em;
	display: inline;
}
	
#footer ul li a:hover {
	color: blue;
	background-color:  #950740;
}



#footer ul {

margin: 10px;
height: 50px;
text-align: center;
boarder-radius: 5px;
padding: 5px;
list-style-type: none;
}


p{
	color: #000;
	font-size: 300%;
	font-family: poppins;
}
